<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.officialshopwala.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.Camera"
        android:required="false"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProductCameraActivity">
        </activity>
        <activity android:name=".CategoryDetailActivity" />
        <activity android:name=".EditProductActivity" />
        <activity android:name=".EditCategoryActivity" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".EditShopDetailActivity">
        </activity>
        <activity android:name=".SetDeliveryChargeActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity
            android:name=".AddProductActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrderDetailsActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCategoryActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShopSaveActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CategoriesActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductsActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OrdersActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupStarterActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnBoardingActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTPVerificationActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
        </activity>
        <activity
            android:name=".MainActivity"
            android:fitsSystemWindows="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.officialshopwala.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <service
            android:name=".services.MyFirebaseInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>